.passport-list-table {
  padding: 50px;
  height: 100%;

  th {
    font-weight: bold;
  }

  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  td {
    text-align: center;
  }

  &-pagination {
    margin-top: 30px;
  }
}