<div class="login">
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="12" nzOffset="6">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
      >
        <h2>Вход в систему</h2>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="userName"
                placeholder="Username"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="24">
            <label nz-checkbox formControlName="remember">
              Оставаться в системе
            </label>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="8" [nzOffset]="2">
            <button
              nz-button
              (click)="resetForm($event)"
              class="login-form-button login-form-margin"
              [nzType]="'primary'"
            >
              Отмена
            </button>
          </div>
          <div nz-col [nzSpan]="8" [nzOffset]="4">
            <button
              nz-button
              class="login-form-button login-form-margin"
              [disabled]="!validateForm.valid"
              [nzType]="'primary'"
            >
              Войти
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr />
<div>
  <app-navbar></app-navbar>
</div>
