.login {
  text-align: center;
  height: 100%;

  &-content {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
  }

  &-form-margin {
    margin-bottom: 24px;
  }

  &-form-button {
    width: 100%;
  }

  &-form-input {
    text-align: left;
    font-size: 20px;
  }

  &-form-icons {
    color: white;
    font-size: 25px;
    background-color: #1e5588;
    border-radius: 8%;
  }

  &-form-title1 {
    font-size: 30px;
    color: #1e5588;
    margin-bottom: 30px;
  }

  &-form-title2 {
    font-size: 16px;
    text-align: left;
    color: #1e5588;
  }

  &-form-checkbox {
    font-size: 16px;
  }
}
