.login {
  text-align: center;
  height: 100%;

  &-content {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
  }

  &-form-margin {
    margin-bottom: 7%;
  }

  &-form-title {
    font-size: 30px;
    color: #324a5e;
  }

  &-form-inputs-name {
    display: block;
    text-align: left;
  }

  &-form-icons {
    height: 54px;
    background-color: #1e5588;
    border-radius: 8%;
  }

  input {
    text-align: left;
    height: 54px;
  }

  svg {
    margin: 25%;
  }

  button {
    width: 80%;
    height: 125%;
    border-radius: 7%;
  }
}