.login {
  text-align: center;
  height: 100%;

  &-content {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
  }

  &-form-margin {
    margin-bottom: 5%;
  }



  &-form-input {
    text-align: left;
  }

  &-form-icons {
    color: white;
    font-size: 25px;
    background-color: #1e5588;
    border-radius: 8%;
  }

  &-form-title1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  &-form-title2 {
    display: block;
    text-align: left;
  }

  button {
    width: 80%;
    height: 140%;
  }
}