<div nz-row class="new-passport">
  <div nz-col [nzSpan]="24" class="new-passport-title">
    <h1>Новый ПБ</h1>
  </div>
  <div nz-col [nzLg]="{ span: 12, offset: 6 }" [nzXs]="{ span: 23 }">
    <form nz-form [formGroup]="newPassportForm" (ngSubmit)="submitForm()">
      <div class="new-passport-form-title">Дата поступления документа</div>
      <nz-form-item>
        <nz-form-control>
          <nz-date-picker
            formControlName="datePicker"
            class="new-passport-form-select"
            nzSize="large"
            nzPlaceHolder="дд.мм.гггг"
            nzFormat="d.MM.yyyy">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <div class="new-passport-form-title">Техническое наименование</div>
      <nz-form-item>
        <nz-form-control>
          <input type="text" nz-input formControlName="note" nzSize="large" />
        </nz-form-control>
      </nz-form-item>
      <div class="new-passport-form-title">Заявитель</div>
      <nz-form-item>
        <nz-select formControlName="selectDeclarer" class="new-passport-form-select" nzSize="large">
          <nz-option nzValue="Заявитель 1" nzLabel="Заявитель 1"></nz-option>
          <nz-option nzValue="Заявитель 2" nzLabel="Заявитель 2"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <label nz-checkbox id="new-passport-form-checkbox" formControlName="checkbox" (ngModelChange)="checked($event)">
          <p id="new-passport-form-checkbox-title">Посредник</p>
        </label>
      </nz-form-item>
      <nz-form-item>
        <nz-select
          formControlName="selectIntermediary"
          [nzDisabled]="!check"
          class="new-passport-form-select"
          nzSize="large">
          <nz-option nzValue="Посредник 1" nzLabel="Посредник 1"></nz-option>
          <nz-option nzValue="Посредник 2" nzLabel="Посредник 2"></nz-option>
        </nz-select>
      </nz-form-item>
      <div class="new-passport-form-title">Регулярность</div>
      <nz-form-item>
        <nz-select formControlName="selectRegularity" class="new-passport-form-select" nzSize="large">
          <nz-option nzValue="Регулярно" nzLabel="Регулярно"></nz-option>
          <nz-option nzValue="Разово" nzLabel="Разово"></nz-option>
        </nz-select>
      </nz-form-item>
      <div nz-row nzJustify="center" class="new-passport-form-buttons">
        <div nz-col [nzLg]="{ span: 4 }" [nzMd]="{ span: 8 }" [nzXs]="{ span: 11 }">
          <button nz-button nzSize="large" (click)="resetForm()" type="button">Отмена</button>
        </div>
        <div nz-col [nzLg]="{ span: 4, offset: 2 }" [nzMd]="{ span: 8, offset: 2 }" [nzXs]="{ span: 11, offset: 2 }">
          <button nz-button nzSize="large" [nzType]="'primary'" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>
