.full-passport {
    width: 100%;

    &-title {
        background-color: #f6f6f6;
        margin-bottom: 4%;

        h1 {
            font-size: 30px;
            padding-top: 1%;
            padding-left: 3%;
            color: #324a5e;
        }
    }

    &-name {
        display: inline-block;
        background-color: #1e5588;
        padding: 0.5%;
        margin-left: 1%;

        label {
            color: white;
        }
    }

    &-form {
        margin-top: 2%;
        margin-right: 1%;
    }

    &-form-select {
        width: 100%;
    }


}