<div class="full-passport">
  <div nz-row>
    <div nz-col class="full-passport-title">
      <h1>{{ passportName }}</h1>
    </div>
  </div>
  <div class="full-passport-name">
    <label>Основная информация</label>
  </div>
  <hr class="hr-line" />
  <div nz-row class="full-passport-form">
    <div nz-col [nzSpan]="22" [nzOffset]="1">
      <form nz-form [formGroup]="fullPassportForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="[30]" nzJustify="center" class="full-passport-cols">
          <div nz-col [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }" class="full-passport-cols-col1">
            <label>Действителен от</label>
            <nz-form-item>
              <nz-form-control>
                <nz-date-picker
                  formControlName="startDate"
                  class="full-passport-form-select"
                  nzSize="large"
                  nzPlaceHolder="дд.мм.гггг"
                  nzFormat="d.MM.yyyy">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <label>Действителен до</label>
            <nz-form-item>
              <nz-form-control>
                <nz-date-picker
                  formControlName="endDate"
                  class="full-passport-form-select"
                  nzSize="large"
                  nzPlaceHolder="дд.мм.гггг"
                  nzFormat="d.MM.yyyy">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <label>Номер предыдущего ПБ</label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  formControlName="reRegistrationNumber"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzShowSearch
                  nzPlaceHolder="Выберите номер предыдущего ПБ"
                  [nzDisabled]="!check"
                  nzSize="large">
                  <nz-option
                    *ngFor="let item of listPrevPassport | keyvalue"
                    [nzValue]="item.value"
                    [nzLabel]="item.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label>Тип предприятия</label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  *appValidation="getForm.enterpriseTypes; text: 'Укажите тип предприятия'"
                  formControlName="enterpriseTypes"
                  class="full-passport-form-select"
                  nzMode="multiple"
                  nzPlaceHolder="Отсутствуют значения"
                  [(ngModel)]="listOfSelectedEnterprise"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listEnterpriseTypes"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"
                    [nzHide]="isNotSelected(option)">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label nz-typography nzEllipsis>Техническое наименование </label>
            <nz-form-item>
              <nz-form-control>
                <input
                  *appValidation="getForm.names; text: 'Укажите техническое наименование'"
                  type="text"
                  nz-input
                  formControlName="names"
                  [placeholder]="'Введите техническое наименование'"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
            <label nz-typography nzEllipsis>Химическое наименование </label>
            <nz-form-item>
              <nz-form-control>
                <input
                  type="text"
                  nz-input
                  formControlName="chemistryNames"
                  [placeholder]="'Введите химическое наименование'"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
            <label>Синонимы</label>
            <nz-form-item>
              <nz-form-control>
                <input
                  type="text"
                  nz-input
                  formControlName="synonym"
                  [placeholder]="'Введите синонимы'"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }" class="full-passport-cols-col2">
            <label>Торговое наименование </label>
            <nz-form-item>
              <nz-form-control>
                <input
                  *appValidation="getForm.tradeNames; text: 'Укажите торговое наименование'"
                  type="text"
                  [placeholder]="'Введите торговое наименование'"
                  nz-input
                  formControlName="tradeNames"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
            <label>Обозначение НД </label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  *appValidation="getForm.normativeDocTypeId; text: 'Укажите обозначение НД'"
                  formControlName="normativeDocTypeId"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzShowSearch
                  nzPlaceHolder="Выберите обозначение НД"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of normativeDoc"
                    [nzValue]="option.id"
                    [nzLabel]="option.names[0].value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label>Шифр НД </label>
            <nz-form-item>
              <nz-form-control>
                <input
                  *appValidation="getForm.normativeDocCode; text: 'Укажите шифр НД'"
                  type="text"
                  nz-input
                  [placeholder]="'Введите шифр НД'"
                  formControlName="normativeDocCode"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
            <label>Код ОКПД 2 </label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  *appValidation="getForm.okpd2CodeId; text: 'Укажите код ОКПД 2'"
                  formControlName="okpd2CodeId"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzShowSearch
                  nzPlaceHolder="Выберите код ОКПД 2"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of okpd2"
                    [nzValue]="option.id"
                    [nzLabel]="option.names[0].value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label>Код ТН ВЭД ЕАЭС </label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  *appValidation="getForm.tnVedCodeId; text: 'Укажите код ТН ВЭД ЕАЭС'"
                  formControlName="tnVedCodeId"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzShowSearch
                  nzPlaceHolder="Выберите код ТН ВЭД ЕАЭС"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of tnVed"
                    [nzValue]="option.id"
                    [nzLabel]="option.names[0].value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label>Посредник</label>
            <nz-form-item>
              <nz-form-control>
                <input
                  type="text"
                  nz-input
                  formControlName="mediatorId"
                  [placeholder]="'Введите посредника'"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
            <label>Заявитель</label>
            <nz-form-item>
              <nz-form-control>
                <input
                  type="text"
                  nz-input
                  formControlName="organizationId"
                  [placeholder]="'Введите заявителя'"
                  nzSize="large" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }" class="full-passport-cols-col3">
            <label>Способ оплаты</label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  *appValidation="getForm.paymentMethod; text: 'Укажите способ оплаты'"
                  formControlName="paymentMethod"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzPlaceHolder="Выберите способ оплаты"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listPaymentMethod"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label>Срочность</label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  formControlName="passportPeriod"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzPlaceHolder="Выберите срочность"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listPassportPeriod"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label nz-typography nzEllipsis>Дата поступления документов </label>
            <nz-form-item>
              <nz-form-control>
                <nz-date-picker
                  formControlName="documentArrivalDate"
                  class="full-passport-form-select"
                  nzSize="large"
                  nzPlaceHolder="дд.мм.гггг"
                  nzFormat="d.MM.yyyy">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <label nz-typography nzEllipsis>Дата следующей редакции </label>
            <nz-form-item>
              <nz-form-control>
                <nz-date-picker
                  formControlName="nextRevisionDate"
                  class="full-passport-form-select"
                  nzSize="large"
                  nzPlaceHolder="дд.мм.гггг"
                  nzFormat="d.MM.yyyy">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <label nz-typography nzEllipsis>Дата поступления оплаты </label>
            <nz-form-item>
              <nz-form-control>
                <nz-date-picker
                  formControlName="payDay"
                  class="full-passport-form-select"
                  nzSize="large"
                  nzPlaceHolder="дд.мм.гггг"
                  nzFormat="d.MM.yyyy">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <label nz-typography nzEllipsis>Дата выполнения работы</label>
            <nz-form-item>
              <nz-form-control>
                <nz-date-picker
                  formControlName="workDate"
                  class="full-passport-form-select"
                  nzSize="large"
                  nzPlaceHolder="дд.мм.гггг"
                  nzFormat="d.MM.yyyy">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <label>Регулярность </label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  formControlName="singleOrMultiple"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzPlaceHolder="Выберите регулярность"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listSingleOrMultiply"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" [nzXs]="{ span: 24 }" class="full-passport-cols-col4">
            <div nz-row nzJustify="center">
              <div nz-col [nzLg]="{ span: 12 }" [nzMd]="{ span: 24 }" class="full-passport-form-checkbox">
                <nz-form-item>
                  <label
                    nz-checkbox
                    id="full-passport-form-checkbox"
                    formControlName="reRegistration"
                    (ngModelChange)="checked($event)"
                    >Перерегистрация ПБ</label
                  >
                </nz-form-item>
                <nz-form-item>
                  <label nz-checkbox id="full-passport-form-checkbox" formControlName="decline">Отказ</label>
                </nz-form-item>
                <nz-form-item>
                  <label nz-checkbox id="full-passport-form-checkbox" formControlName="accepted">Подтвердить ПБ</label>
                </nz-form-item>
                <nz-form-item>
                  <label nz-checkbox id="full-passport-form-checkbox" formControlName="suspend">Приостановить ПБ</label>
                </nz-form-item>
              </div>
              <div nz-col [nzLg]="{ span: 12 }" [nzMd]="{ span: 24 }" class="full-passport-form-image">
                <a [href]="passportView">Ссылка на просмотр паспорта</a>

                <div>
                  <img *ngIf="codeQrUrl" [src]="codeQrUrl" alt="Место для QR-кода" />
                  <div *ngIf="!codeQrUrl" class="full-passport-form-image-qrcode"><p>Место для QR-кода</p></div>
                </div>
              </div>
            </div>
            <label
              nz-typography
              nzEllipsis
              [nzEllipsisRows]="2"
              nzContent="Степень опасности химической продукции по ГОСТ 12.1.007"></label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  formControlName="danger"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzPlaceHolder="Выберите степень опасности химической продукции по ГОСТ 12.1.007"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listDanger"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control> </nz-form-item
            ><label>Сигнальное слово</label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  formControlName="signalWord"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzPlaceHolder="Выберите сигнальное слово"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listSignalWord"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"></nz-option>
                </nz-select> </nz-form-control></nz-form-item
            ><label>Эксперт</label>
            <nz-form-item>
              <nz-form-control>
                <nz-select
                  formControlName="expert"
                  class="full-passport-form-select"
                  nzAllowClear
                  nzShowSearch
                  nzPlaceHolder="Выберите эксперта"
                  nzSize="large">
                  <nz-option
                    *ngFor="let option of listExpert"
                    [nzValue]="option.id"
                    [nzLabel]="option.displayName"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <label>Номер ПБ</label>
            <div class="full-passport-form-last">
              <nz-form-item>
                <nz-form-control>
                  <input
                    type="text"
                    nz-input
                    formControlName="passportNumber"
                    [placeholder]="'Введите номер ПБ'"
                    nzSize="large" />
                </nz-form-control>
              </nz-form-item>
              <button
                nz-button
                nzSize="large"
                type="button"
                (click)="getNextNumber()"
                [disabled]="!!getForm.passportNumber.value || !getForm.danger.value">
                Получить
              </button>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" class="full-passport-form-button">
          <div nz-col>
            <button
              nz-button
              nzSize="large"
              [nzType]="'primary'"
              type="submit"
              [disabled]="!fullPassportForm.valid || !fullPassportForm.dirty">
              Сохранить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
