.login {
  text-align: center;
  height: 100%;

  &-content {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
  }

  &-form-margin {
    margin-bottom: 7%;
  }

  &-form-title {
    font-size: 30px;
    color: #324a5e;
  }

  &-form-inputs-name {
    display: block;
    text-align: left;
  }

  &-form-icons {
    height: 54px;
    background-color: #1e5588;
    border-radius: 5%;
  }



  input {
    text-align: left;
    height: 54px;
  }

  img {
    margin: 30%;
  }

  button {
    width: 90%;
    height: 125%;
    border-radius: 7%;
  }


}

::ng-deep #login-form-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background: #1f6842;
}

::ng-deep #login-form-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  margin-left: 9%;
}

::ng-deep #login-form-checkbox .ant-checkbox-inner {
  width: 24px;
  height: 24px;
}