.passport-list {
  height: 100%;


  &-title {
    height: 10%;
    margin-bottom: 1%;
    background-color: #F6F6F6;

    h1 {
      padding-top: 1%;
      padding-left: 3%;
    }
  }

  &-table {
    margin: 4%;
  }

  .red {
    color: #f27c70;
  }

  .yellow {
    color: #e6e629;
  }

  .green {
    color: #31a669;
  }

  th {
    font-weight: bold;
    text-align: center;
    background-color: #D8D8D8;
  }

  tr:nth-child(odd) {
    background-color: #F6F6F6;
  }

  td {
    text-align: center;
  }

  button {
    margin: 0 5% 1% 0;
    float: right;
  }
}