.new-passport-form {
    max-height: 100vh;

    &-title {
        font-size: 18px;
    }

    &-select {
        width: 100%;
        margin: 0;
    }

    button {
        width: 100%;
    }

    div {
        margin-top: 5vh;
    }
}